In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
data1=pd.read_csv("wine-red.csv")  
data2=pd.read_csv("wine-white.csv")

In [4]:
data1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
data2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [7]:
X=data1.iloc[:,:-1]

In [8]:
X.fillna(X.mean(),inplace=True)

In [9]:
Y=data1['quality']
Y.fillna(Y.mean(),inplace=True)

In [10]:
scaler=StandardScaler()

In [11]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [12]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1279, 11), (320, 11), (1279,), (320,))

In [13]:
scaler.fit(x_train)

StandardScaler()

In [14]:
X_train = scaler.transform(x_train)
X_test = scaler.transform(x_test)

In [15]:
mlp=MLPClassifier(hidden_layer_sizes=(512,256,128,64,32,16))

In [16]:
mlp.fit(X_train,y_train)

MLPClassifier(hidden_layer_sizes=(512, 256, 128, 64, 32, 16))

In [17]:
pred=mlp.predict(X_test)
pred

array([5, 5, 7, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 7, 5, 5, 5, 6, 5,
       6, 6, 6, 5, 5, 7, 5, 6, 6, 6, 6, 5, 7, 7, 6, 6, 7, 7, 6, 7, 7, 6,
       6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5, 5, 7, 6, 5, 6, 6, 6, 5, 6,
       5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 5,
       6, 5, 5, 6, 7, 5, 5, 6, 6, 5, 5, 5, 7, 6, 7, 6, 5, 6, 5, 6, 5, 5,
       6, 5, 8, 5, 6, 5, 5, 7, 6, 6, 5, 5, 5, 5, 8, 7, 5, 5, 5, 6, 5, 5,
       7, 5, 6, 5, 6, 5, 6, 5, 6, 5, 5, 6, 5, 6, 8, 6, 5, 5, 6, 5, 6, 5,
       6, 6, 4, 5, 6, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 4, 6,
       5, 6, 7, 5, 5, 7, 6, 6, 7, 6, 5, 7, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5,
       6, 5, 5, 6, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 7, 5, 6, 5, 6, 6, 5,
       5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 6, 5, 7, 7, 6, 5, 5,
       5, 5, 6, 5, 6, 5, 5, 6, 6, 5, 5, 5, 7, 5, 5, 5, 5, 7, 5, 8, 5, 6,
       5, 5, 5, 5, 5, 6, 5, 5, 5, 6, 7, 6, 7, 6, 6, 7, 5, 6, 5, 5, 6, 6,
       5, 5, 5, 6, 5, 4, 6, 6, 5, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5,
       5, 5, 5, 6, 5, 5, 5, 5, 7, 7, 6, 6])

In [18]:
confusion_matrix(y_test,pred)

array([[  0,   1,   0,   1,   0,   0],
       [  0,   0,   5,   4,   2,   0],
       [  0,   1, 103,  28,   3,   0],
       [  0,   1,  38,  92,   9,   2],
       [  0,   0,   4,   6,  15,   2],
       [  0,   0,   0,   2,   1,   0]])

In [19]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         2
           4       0.00      0.00      0.00        11
           5       0.69      0.76      0.72       135
           6       0.69      0.65      0.67       142
           7       0.50      0.56      0.53        27
           8       0.00      0.00      0.00         3

    accuracy                           0.66       320
   macro avg       0.31      0.33      0.32       320
weighted avg       0.64      0.66      0.65       320

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))