In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [13]:
data = pd.read_csv('https://www.openml.org/data/get_csv/1592290/phpgNaXZe')

In [14]:
column = ['sbp','tobacco','ldl','adiposity','famhist','type','obesity','alcohol','age','chd']

In [15]:
data.columns=column

In [16]:
data.head()

   sbp  tobacco   ldl  adiposity  famhist  type  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11        1    49    25.30    97.20   52    2
1  144     0.01  4.41      28.61        2    55    28.87     2.06   63    2
2  118     0.08  3.48      32.28        1    52    29.14     3.81   46    1
3  170     7.50  6.41      38.03        1    51    31.99    24.26   58    2
4  134    13.60  3.50      27.78        1    60    25.99    57.34   49    2

In [17]:
data.isnull().sum()

sbp          0
tobacco      0
ldl          0
adiposity    0
famhist      0
type         0
obesity      0
alcohol      0
age          0
chd          0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['famhist']=encoder.fit_transform(data['famhist'])
data['chd']=encoder.fit_transform(data['chd'])

In [19]:
data.head()

   sbp  tobacco   ldl  adiposity  famhist  type  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11        0    49    25.30    97.20   52    1
1  144     0.01  4.41      28.61        1    55    28.87     2.06   63    1
2  118     0.08  3.48      32.28        0    52    29.14     3.81   46    0
3  170     7.50  6.41      38.03        0    51    31.99    24.26   58    1
4  134    13.60  3.50      27.78        0    60    25.99    57.34   49    1

In [20]:
col = ['sbp','tobacco','ldl','adiposity','famhist','type','obesity','alcohol','age']
X_train, X_test, y_train, y_test = train_test_split(data[col], data['chd'], test_size=0.2, random_state=1234)

In [21]:
X_all = data[col]
y_all = data['chd']

In [22]:
mlp=MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

In [23]:
mlp.fit(X_train, y_train.ravel())

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

In [27]:
predictions=mlp.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0])

In [25]:
cm_ann = confusion_matrix(y_test, predictions)
cm_ann

array([[50, 10],
       [19, 14]])

In [26]:
recall_ann = cm_ann[0][0]/(cm_ann[0][0] + cm_ann[0][1])
precision_ann = cm_ann[0][0]/(cm_ann[0][0]+cm_ann[1][1])
recall_ann,precision_ann

(0.8333333333333334, 0.78125)